.appointment{
    background-image: url('../images/Untitled-2-13.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 100px 0;
    color: #fff;
   }

.appointment h3{
    font-weight: bold;
    line-height: 1;
    margin-bottom: 20px;
}
.appointment p{
margin-bottom: 70px;
}