
#footer {
    background: white ;
    color: #999696;
    margin-top: 60px;
}
#footer a {
    color: #999696;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social{
    margin: auto;
}
#footer ul.social li{
	padding: 0 3px ;
}


#footer ul.quick-links li{
	padding: 10px 0;
    font-size: 22px;
    font-weight: bold;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;

}
#footer .copyright{
padding: 4px 0 12px 0;
font-size: 22px;
border-top: 3px solid #ACA9A9;
}
// #footer ul.quick-links li:hover{
// 	padding: 3px 0;
// 	margin-left:5px;
// 	font-weight:700;
// }
#footer ul.quick-links li a {
    color: #999696;
    font-size: 18px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}
.imgfooter .logo{
    width: 50%;
}
@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
.imgfooter .logo{
    width: 65%;
}
}
