.info-box-content
{
    border: 1px solid;
    background-color: rgb(226, 226, 220);
    border-radius: 10px;

}
.info-box-content .thumbnail{
    background-color: #fff;
    height: 230px;

}
.info-box-content .thumbnail:hover{
    background-color: rgb(190, 194, 194);
}
.contact{
    background-color: rgb(212, 212, 209);
    height: 400px;
    padding: 10px;
    
}

#send-btn:hover{
    background-color: green;
}
.contact  h2{
    font-family: "ptblsstr";
}
.title-word {
    animation: color-animation 4s linear infinite;
  }
  
  .title-word-1 {
    --color-1: #DF8453;
    --color-2: #3D8DAE;
    --color-3: #E4A9A8;
  }
  
  .title-word-2 {
    --color-1: #DBAD4A;
    --color-2: #ACCFCB;
    --color-3: #17494D;
  }
  
  .title-word-3 {
    --color-1: #ACCFCB;
    --color-2: #E4A9A8;
    --color-3: #ACCFCB;
  }
  
  .title-word-4 {
    --color-1: #3D8DAE;
    --color-2: #DF8453;
    --color-3: #E4A9A8;
  }
  
  @keyframes color-animation {
    0%    {color: var(--color-1)}
    32%   {color: var(--color-1)}
    33%   {color: var(--color-2)}
    65%   {color: var(--color-2)}
    66%   {color: var(--color-3)}
    99%   {color: var(--color-3)}
    100%  {color: var(--color-1)}
  }
  .location{
    font-family:cursive;
  }